In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dates = pd.date_range("20250930", periods = 6)

In [3]:
dates

DatetimeIndex(['2025-09-30', '2025-10-01', '2025-10-02', '2025-10-03',
               '2025-10-04', '2025-10-05'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list("ABCD"))

In [5]:
df

                   A         B         C         D
2025-09-30  1.131623  0.710274 -1.654944 -0.261796
2025-10-01  0.751077 -0.674165  0.738859 -0.090802
2025-10-02  0.515861 -0.680152  0.650327 -0.748313
2025-10-03 -0.154807 -0.662707 -0.823305 -1.519724
2025-10-04 -1.852280 -0.528429 -0.584425 -1.204080
2025-10-05 -0.551181  0.344746 -1.244835 -0.060470

In [6]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B":pd.Timestamp("20251001"),
        "C":pd.Series(1,index=list(range(4)),dtype="float32"),
        "D":np.array([3]*4,dtype="int32"),
        "E":pd.Categorical(["test","train","test","train"]),
        "F":"foo",
    }
)

In [7]:
df2

     A          B    C  D      E    F
0  1.0 2025-10-01  1.0  3   test  foo
1  1.0 2025-10-01  1.0  3  train  foo
2  1.0 2025-10-01  1.0  3   test  foo
3  1.0 2025-10-01  1.0  3  train  foo

In [8]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [9]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [10]:
df.head()

                   A         B         C         D
2025-09-30  1.131623  0.710274 -1.654944 -0.261796
2025-10-01  0.751077 -0.674165  0.738859 -0.090802
2025-10-02  0.515861 -0.680152  0.650327 -0.748313
2025-10-03 -0.154807 -0.662707 -0.823305 -1.519724
2025-10-04 -1.852280 -0.528429 -0.584425 -1.204080

In [11]:
df.tail()

                   A         B         C         D
2025-10-01  0.751077 -0.674165  0.738859 -0.090802
2025-10-02  0.515861 -0.680152  0.650327 -0.748313
2025-10-03 -0.154807 -0.662707 -0.823305 -1.519724
2025-10-04 -1.852280 -0.528429 -0.584425 -1.204080
2025-10-05 -0.551181  0.344746 -1.244835 -0.060470

In [12]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
df2.tail()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df.index

DatetimeIndex(['2025-09-30', '2025-10-01', '2025-10-02', '2025-10-03',
               '2025-10-04', '2025-10-05'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [18]:
df.to_numpy()

array([[ 1.13162261,  0.71027426, -1.65494405, -0.26179602],
       [ 0.7510771 , -0.6741654 ,  0.73885919, -0.09080213],
       [ 0.51586138, -0.68015202,  0.65032678, -0.74831281],
       [-0.15480726, -0.66270686, -0.82330457, -1.51972384],
       [-1.85227996, -0.5284294 , -0.58442496, -1.20408017],
       [-0.55118076,  0.34474602, -1.24483475, -0.06047031]])

In [19]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [20]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [21]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.026618 -0.248406 -0.486387 -0.647531
std    1.083075  0.614594  0.985621  0.613841
min   -1.852280 -0.680152 -1.654944 -1.519724
25%   -0.452087 -0.671301 -1.139452 -1.090138
50%    0.180527 -0.595568 -0.703865 -0.505054
75%    0.692273  0.126452  0.341639 -0.133551
max    1.131623  0.710274  0.738859 -0.060470

In [22]:
df2.describe()

         A                    B    C    D
count  4.0                    4  4.0  4.0
mean   1.0  2013-01-02 00:00:00  1.0  3.0
min    1.0  2013-01-02 00:00:00  1.0  3.0
25%    1.0  2013-01-02 00:00:00  1.0  3.0
50%    1.0  2013-01-02 00:00:00  1.0  3.0
75%    1.0  2013-01-02 00:00:00  1.0  3.0
max    1.0  2013-01-02 00:00:00  1.0  3.0
std    0.0                  NaN  0.0  0.0

In [23]:
df.T

   2025-09-30  2025-10-01  2025-10-02  2025-10-03  2025-10-04  2025-10-05
A    1.131623    0.751077    0.515861   -0.154807   -1.852280   -0.551181
B    0.710274   -0.674165   -0.680152   -0.662707   -0.528429    0.344746
C   -1.654944    0.738859    0.650327   -0.823305   -0.584425   -1.244835
D   -0.261796   -0.090802   -0.748313   -1.519724   -1.204080   -0.060470

In [24]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [25]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2025-09-30 -0.261796 -1.654944  0.710274  1.131623
2025-10-01 -0.090802  0.738859 -0.674165  0.751077
2025-10-02 -0.748313  0.650327 -0.680152  0.515861
2025-10-03 -1.519724 -0.823305 -0.662707 -0.154807
2025-10-04 -1.204080 -0.584425 -0.528429 -1.852280
2025-10-05 -0.060470 -1.244835  0.344746 -0.551181

In [26]:
df2.sort_index(axis=1,ascending =False)

     F      E  D    C          B    A
0  foo   test  3  1.0 2013-01-02  1.0
1  foo  train  3  1.0 2013-01-02  1.0
2  foo   test  3  1.0 2013-01-02  1.0
3  foo  train  3  1.0 2013-01-02  1.0

In [27]:
df.sort_values(by = "A")

                   A         B         C         D
2025-10-04 -1.852280 -0.528429 -0.584425 -1.204080
2025-10-05 -0.551181  0.344746 -1.244835 -0.060470
2025-10-03 -0.154807 -0.662707 -0.823305 -1.519724
2025-10-02  0.515861 -0.680152  0.650327 -0.748313
2025-10-01  0.751077 -0.674165  0.738859 -0.090802
2025-09-30  1.131623  0.710274 -1.654944 -0.261796

In [28]:
df["A"]

2025-09-30    1.131623
2025-10-01    0.751077
2025-10-02    0.515861
2025-10-03   -0.154807
2025-10-04   -1.852280
2025-10-05   -0.551181
Freq: D, Name: A, dtype: float64

In [29]:
df[0:3]

                   A         B         C         D
2025-09-30  1.131623  0.710274 -1.654944 -0.261796
2025-10-01  0.751077 -0.674165  0.738859 -0.090802
2025-10-02  0.515861 -0.680152  0.650327 -0.748313

In [30]:
df["20130102":"20130104"]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [31]:
df.loc[dates[0]]

A    1.131623
B    0.710274
C   -1.654944
D   -0.261796
Name: 2025-09-30 00:00:00, dtype: float64

In [32]:
df.loc[:,["A", "B"]]

                   A         B
2025-09-30  1.131623  0.710274
2025-10-01  0.751077 -0.674165
2025-10-02  0.515861 -0.680152
2025-10-03 -0.154807 -0.662707
2025-10-04 -1.852280 -0.528429
2025-10-05 -0.551181  0.344746

In [33]:
df.loc["20250930":"20251003",["A","B"]]

                   A         B
2025-09-30  1.131623  0.710274
2025-10-01  0.751077 -0.674165
2025-10-02  0.515861 -0.680152
2025-10-03 -0.154807 -0.662707

In [34]:
df.loc[dates[0],"A"]

np.float64(1.131622608755043)

In [35]:
df.at[dates[0],"A"]

np.float64(1.131622608755043)

In [36]:
df.iloc[3]

A   -0.154807
B   -0.662707
C   -0.823305
D   -1.519724
Name: 2025-10-03 00:00:00, dtype: float64

In [37]:
df.iloc[3:5,0:2]

                   A         B
2025-10-03 -0.154807 -0.662707
2025-10-04 -1.852280 -0.528429

In [38]:
df[df["A"]>0]

                   A         B         C         D
2025-09-30  1.131623  0.710274 -1.654944 -0.261796
2025-10-01  0.751077 -0.674165  0.738859 -0.090802
2025-10-02  0.515861 -0.680152  0.650327 -0.748313

In [39]:
pd.Series([1,2], dtype =np.int64).reindex([0,1,2])

0    1.0
1    2.0
2    NaN
dtype: float64

In [40]:
df1.dropna(how ="any")

NameError: name 'df1' is not defined

In [41]:
df.mean()

A   -0.026618
B   -0.248406
C   -0.486387
D   -0.647531
dtype: float64

In [42]:
df.mean(axis=1)

2025-09-30   -0.018711
2025-10-01    0.181242
2025-10-02   -0.065569
2025-10-03   -0.790136
2025-10-04   -1.042304
2025-10-05   -0.377935
Freq: D, dtype: float64