In [353]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [355]:
df =pd.read_csv("C:\\Users\\akelo\\Desktop\\DATASETS\\course_lead_scoring.csv")

In [357]:
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [362]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [372]:
df.columns

Index(['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income',
       'employment_status', 'location', 'interaction_count', 'lead_score',
       'converted'],
      dtype='object')

In [373]:
categorical = ['lead_source', 'industry',  
       'employment_status', 'location']

In [374]:
numerical =['number_of_courses_viewed', 'annual_income',
       'interaction_count', 'lead_score']

In [ ]:
df[categorical] = df[categri]

In [363]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [366]:
df['industry'].mode()

0    retail
Name: industry, dtype: object